@import '_fonts.scss';
@import '_normalize.scss';
@import '_variables.scss';
@import '_interface.scss';
@import '_grid.scss';
@import 'templates/_header.scss';
@import 'templates/_hero.scss';


*,
*::after,
*::before{
    box-sizing: border-box;
}
body{
    font-family: 'Futura Book', sans-serif;
    font-size: 14px;
}